# Dependências do Composer
/vendor/

# Arquivos de configuração sensíveis
.env

# Logs
logs/
*.log

# Cache / arquivos temporários
*.cache
*.tmp
*.bak

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

ConexaoDB/conexao.php

Controllers/envia_email_senha.php
